# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & backups
*.zip
*.db
*.db-wal
*.db-shm
*.sqlite
*.csv
output/
*_export/
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
